.popup__save {
    width: 100%;
    font-size: 18px;
    line-height: calc(22/18);
    height: 50.15px;
    margin-top: 26px;
    outline: none;
    background-color: #7f5af0;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease;
}

.popup__save:hover {
    transition: all .2s ease;
    background-color: rgba(0, 0, 0, .6);
    cursor: pointer;
}