.popup__input {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;
    padding: 0;
    line-height: calc(17/14);
    font-size: 14px;
    margin-bottom: 18px;
    height: 35px;
}